<ion-header class="ion-no-border">
  <ion-toolbar class="custom-logo-toolbar">
    <img src="assets/logo.png" alt="Jok One" class="full-width-logo">
    <div class="login-theme-toggle">
      <app-theme-toggle></app-theme-toggle>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <h1 class="login-title">Bienvenido</h1>
    <p class="login-subtitle">Inicia sesión para continuar</p>

    <ion-item class="input-group" lines="none">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email"
        autocomplete="email">
      </ion-input>
    </ion-item>

    <ion-item class="input-group" lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="password"
        autocomplete="current-password">
      </ion-input>
    </ion-item>

    <p *ngIf="error" class="error-msg">⚠️ {{ error }}</p>

    <ion-button 
      expand="block" 
      class="btn-login"
      (click)="login()" 
      [disabled]="loading">
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">Iniciar Sesión</span>
    </ion-button>
  
</ion-content>