ion-toolbar {
  --background: var(--ion-toolbar-background);
  --border-color: transparent;
  --padding-start: 0;
  --padding-end: 0;
}

.header-wrapper {
  height: 64px;
}

.header-start {
  padding-left: 8px;
}

.topbar-logo {
  height: 48px !important;
  width: auto;
  object-fit: contain;
}

.custom-date-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
